/*  MAIN */

html, body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
}

body {
  background-color: var(--primColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1{
  font-size: 2em;
  line-height: 1em;
  text-align: center;
  color: black;
}

p{
    width: 100%;
    text-align: center;
}

h2 {
  font-size: 1em; 
  line-height: 0em;
  text-align: center;
  color: black;
}

/*  TABLES  */
 
table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid black;
  width: 100%;
  border-radius: .25rem;
}

thead tr:first-child {
  background: #2b2929;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

th {
  font-weight: 500;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: right;
  padding-right: 10px;
}

/*  NAVIGATION BARS  */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-item {
  float: left;
  display: block;
  padding: 8px;
  background-color:white;
  text-decoration: none;
}

nav .nav-item:hover {
  text-decoration: underline;
  color: black;
}

/*  SOCIAL MEDIA BUTTONS  */
.btn{
display: inline-block;
border: 2.5px solid rgb(0, 0, 0);
padding: 10px 30px;
font-size: 17px;
border-radius: 50px;
margin: 10px;
cursor: pointer;
}

.btn:hover {
  box-shadow: 0px 15px 20px rgba(17, 17, 17, 0.4);
  transform: translateY(-7px);
}

.btn a{
  -webkit-text-fill-color: #2b2929;
  text-decoration: none;
}

.btn a:hover {
  text-decoration:underline
}

.sociallinks{
text-align: center;
}

/*CARD*/

@media (min-width: 700px) {
.cards{
  display:grid;
  max-width: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap:20px;
}
}

.card-1{
background-color: #f6f6f6;
padding: 20px;
text-align: center;
font-size: 24px;
border-radius: 1cap;
border: 3px solid black;
}

.card-2{
  background-color: #f6f6f6;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  border-radius: 1cap;
  border: 3px solid rgb(0, 0, 0);
  }

  img{
    width: 200px;
  }

  /** GRID**/
  .grid-area{
    display: inline-flex;
    max-width: auto;
    grid-template-columns: repeat(0, 0fr);
    grid-gap: 20px;
  }

  .grid-1{
    background-color: #f6f6f6;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 1cap;
    border: 3px solid rgb(0, 0, 0);
  }